{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title> Share files instantly </title>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/firstpage.css' %}" rel="stylesheet">
    
    
  </head>
  <body>
    <header>
      <div class="container"> 
         <nav class="navbar">
        <a href="#" class="nav-branding">File sharing</a>
            <ul class="nav-menu">
               <li class="nav-item">
                  <a href="#" class="nav-link">Home</a>
               </li>
               <li class="nav-item">
                  <a href="#" class="nav-link">share another file</a>
               </li>
               <li class="nav-item">
                  <a href="#" class="nav-link">Contact</a>
               </li>
               <li class="nav-item">
               <div class="dropdown">
                <button class="dropbtn">Dropdown</button>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div>
            </li>
            </ul> 
           <div class="hamburger">
               <span class="bar"></span>
               <span class="bar"></span>
               <span class="bar"></span>
            </div>
        </nav>
      </div>
   </header>

  
      <div class="container topheading">
      <h1>Share Files of Any Size</h1>
    </div>

  
      <form class="input-group d-flex justify-content-center" method="POST" action= {% url 'upload' %} enctype="multipart/form-data" id="upload_form">
      {% csrf_token %}
        <div class="form-group">
          <label for="emailid"> Email id</label>
        <input type="email" class="form-control" id="emailid" name="email" required>
        </div>
        <div>
          <!-- <p>enter your email id</p> -->

        </div>
        <div class="form-group">
          <label for="duration"> Set how long you want the file to be stored for </label>
          <select class="form-control" id="duration" name="duration">
            <option value="5m"> 5 Minutes </option>
            <option value="1h"> 1 hour </option>
            <option value="6h"> 6 hours </option>
            <option value="24h"> 24 hours </option>
            <option value="3d"> 3 days </option>
          </select>
          <p class="help-block"> After this period, the file will be deleted from the server and the link no longer useable </p>
        </div>



        <div class="form-group">
          <div>
            <label for="exampleInputFile">File input</label>
          </div>
          <p> Select the file you wish to share </p>
          <input type="file" class="form-control" id="file" name="file" onchange="uploadFile()">
         
          <div>

            <div id="feedback"></div>
            <label id="progress-label" for="progress"></label>
          <progress id="progress" value="0" max="100"></progress><br>
          
          </div>
        </div>

  
        
        <button type="submit" class="btn btn-success"> Upload </button>
      
      </form>
    </div> 
  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
      function ProgressBar(){
        const fileUploader = document.getElementById('file');
        const feedback = document.getElementById('feedback');
        const progress = document.getElementById('progress');

      const reader = new FileReader();

      fileUploader.addEventListener('change', (event) => {
      const files = event.target.files;
      const file = files[0];
      reader.readAsDataURL(file);
  
      reader.addEventListener('progress', (event) => {
      if (event.loaded && event.total) {
          const percent = (event.loaded / event.total) * 100;
          progress.value = percent;
          document.getElementById('progress-label').innerHTML = Math.round(percent) + '%';
      
      if (percent === 100) {
        let msg = `<span style="color:green;">File <u><b>${file.name}</b></u> has been uploaded successfully.</span>`;
        feedback.innerHTML = msg;
      }
    }
    });
  });

      }
      document.getElementById('file').addEventListener('click', ProgressBar);

      const hamburger = document.querySelector(".hamburger");
const navMenu = document.querySelector(".nav-menu");
hamburger.addEventListener("click", () => {
  hamburger.classList.toggle("active");
  navMenu.classList.toggle("active");
})
document.querySelectorAll(".nav-link").forEach(n => n.addEventListener("click", () => {
  hamburger.classList.remove("active");
  navMenu.classList.remove("active");
}))
    </script>
   
  </body>
</html>